@charset "UTF-8";

/* html, body */
html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
body{
	background-color:#D9D8D7;
}

/* navbar */
.nav-header {
	width: 100%;
	padding: 10px;
	box-sizing:border-box; 
	background-color:#8C877D;
}
.nav-header .nav-title{
	display: inline-block;
	font-size: 40px;
	font-family: 'Acme', sans-serif;
	margin: 1rem;
	margin-left: 2rem;
	vertical-align: middle;
}
.nav-header .nav-title a{
	color: #262524;
	text-decoration: none;
}
.nav-header .nav-title a:hover{
	color: #736E6C;
}
.nav-header .nav-user{
	font-family: 'Acme', sans-serif;
	float: right;
	display: inline-block;
  	vertical-align: middle;
  	margin-right: 0.5rem;
}
.nav-header .nav-user a{
	text-decoration: none;
}
.nav-header .nav-user ul{
	list-style: none;
	margin: 0;
	padding: 15px;
	display: flex;
}
.nav-header .nav-user .user{
	text-decoration: none;
	font-size: 17px;
	font-weight: 600;
	color: #F2F2F2;
	margin: 10px;
	cursor:pointer;
}

/* title */
.title-container{
	width: 100%;
	margin-top:20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	box-sizing: border-box;
}
.title-container .title{
	font-size: 40px;
	padding: 0;
	margin: 0;
}
.title-container .description {
	font-size: 15px;
	font-style:italic;
	padding: 0;
	margin:0;
	margin-top: 5px;
	color: #4D4A44;
}

/* btn */
.btn-wrap{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.btn{
  width: 100px;
  padding: 8px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: 0.4s;
  text-decoration: none;
  margin: 0 3px;
}
.btn:hover {
  background-color: #A5A6A1;
  color: #fff;
}
.btn.btn--reverse {
  background-color: #333;
  color: #fff;
}
.btn.btn--reverse:hover {
  background-color: transparent;
  color: #333;
}
.btn.btn--brown {
  width: 70px;
  color: #592b18;
  border-color: #592b18;
}
.btn.btn--brown:hover {
  color: #fff;
  background-color: #592b18;
}
.btn.btn--gold {
  color: #d9aa8a;
  border-color: #d9aa8a;
}
.btn.btn--gold:hover {
  color: #fff;
  background-color: #d9aa8a;
}
.btn.btn--white {
  color: #fff;
  border-color: #fff;
}
.btn.btn--white:hover {
  color: #333;
  background-color: #fff;
}